$white: #fff;
$cyan: #1d89b8;
$cyan-1: #116d96;
$gray: #ddd;

.sidnew .checkbox-skin {
  z-index: 9999;
}

.tableFdv {
  padding-top: 0;
}

th,
td {
  input[type="checkbox"]:focus {
    outline: none;
  }
}

.sidnew .calendar-cell::after {
  pointer-events: none;
}

// .table-hover {
//   overflow: hidden;
// }

.panel {
  border: 0;
}

.panel-default {
  border-top: 1px solid $gray;
}

.panel-body {
  padding: 15px 0;
}

.big-icon {
  font-size: 20px;
}

.sectionContent {
  .panel-body {
    padding: 15px;
  }
}

.calendar-cell.calendar-cell-default-cursor {
  cursor: not-allowed;
}

.sidnew .tableWrapper.hide-scroll {
  overflow: hidden;
}

.sidnew .table-accordion tbody > tr > td.no-before:before,
.sidnew .table-link tbody .no-before::before {
  content: "";
}

.row-expanded {
  background-color: #f5f5f5;
}

.table-extra .panel-body {
  padding-top: 0px;
}

.sidnew .tableWrapper {
  overflow: inherit;
}

.sidnew .wrapper .tableWrapper {
  overflow: auto;
}

.sidnew .tableWrapperFixedHeigth {
  width: 100%;
  height: 550px;
  position: relative;
  overflow: auto;
  background-color: white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
